Ajax_Classwork/OnlineBookStore_DTD.xml

<!-- Write a DTD for online bookstore XML -->



<?xml version="1.0" encoding="UTF-8"?>  

    <!ELEMENT bookstore (book+)>

    <!ELEMENT book (title, author+, price, published_year?)>
    <!ATTLIST book
        isbn CDATA #REQUIRED
        category CDATA #IMPLIED
    >

    <!ELEMENT title (#PCDATA)>

    <!ELEMENT author (first_name, last_name)>
    <!ELEMENT first_name (#PCDATA)>
    <!ELEMENT last_name (#PCDATA)>

    <!ELEMENT price (#PCDATA)>
    <!ELEMENT published_year (#PCDATA)>

